:root {
    --wpcode--preset--font-size--s-small: 0.8rem;
    --wpcode--preset--font-family--body: "Noto Sans", "Noto Sans SC", "Noto Color Emoji", "Noto Emoji", system-ui;
    --wpcode--preset--font-family--code: "Noto Sans Mono", "Noto Sans", "Noto Sans SC", "Noto Color Emoji", "Noto Emoji", system-ui;
}

/* 1. 自定义字体 */
body {
    font-family: var(--wpcode--preset--font-family--body);
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: var(--wp--preset--font-size--small);
}

/* 2. 超链接样式 */
a {
    text-decoration: underline;
}

a:hover {
    background-color: LightGrey;
}

/* 3. 代码块样式 */
.wp-block-code {
    padding: 0;
}

.wp-block-code code {
    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
    font-size: var(--wpcode--preset--font-size--s-small);
    font-family: var(--wpcode--preset--font-family--code);
}

/* 4. 页面高度，保证footer在最下面 */
header {
    height: 10vh;
}

main {
    min-height: 90vh;
}

/* 5. 碎碎念 图片样式 */
.small-img .wp-block-post-featured-image {
    max-height: 30vh;
    max-width: 20vw;
    overflow: hidden;
}

.small-img .wp-block-post-featured-image img {
    max-height: 30vh;
    max-width: 20vw;
    object-fit: contain !important;
}

.small-img figure {
    max-height: 50vh;
    max-width: 30vw;
    overflow: hidden;
}

.small-img figure img {
    max-height: 50vh;
    max-width: 30vw;
    object-fit: contain !important;
}

/* 6. h1 h2 h3 h4 h5 大小 */
.readable-header h2,
.readable-header h3,
.readable-header h4,
.readable-header h5 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: LightGrey;
}

.readable-header h1 {
    /* h1样式不会在正文中用到 */
}

.readable-header h2 {
    font-size: calc(var(--wp--preset--font-size--medium) * 1.25);
}

.readable-header h3 {
    font-size: calc(var(--wp--preset--font-size--medium) * 1.1);
}

.readable-header h4 {
    font-size: calc(var(--wp--preset--font-size--medium) * 0.95);
}

.readable-header h5 {
    font-size: calc(var(--wp--preset--font-size--medium) * 0.8);
}